 .CodeMirror {
  height: 300px;
  color: #fff !important;
  font-size: 20px;
  cursor: text;
  caret-color: white !important;
  resize: none;
  white-space: pre-wrap !important;
  
 }

 .CodeMirror-gutters {
  background:#1d1e22 !important;
 }
 .CodeMirror-scroll {
  background:#1d1e22;
 }